.RecentPermitsList {
  max-width: 860px;
  width: 100%;
  margin: 0 auto;
  padding: 40px 20px;

  h3 {
    color: #414141;
    font-size: 26px;
    font-weight: 800;
    text-transform: capitalize;
    text-align: center;
  }
}

@media (max-width: 768px) {
  .RecentPermitsList {
    padding: 25px 20px;

    h3 {
      font-size: 22px;
    }
  }
}

@media (max-width: 480px) {
  .RecentPermitsList {
    padding: 25px 20px;

    h3 {
      font-size: 18px;
    }
  }
}
